# Python
venv/
__pycache__/
*.pyc

# Environment & secrets
.env
.env.*
cookies.txt

# Database
*.db
*.sqlite3

# Uploads / cache
uploads/

# OS
.DS_Store
Thumbs.db

echo static/Canva Setup 1.120.0.exe>> .gitignore
echo *.exe>> .gitignore
static/Canva Setup 1.120.0.exe
*.exe
