FLASK_ENV=development
DEBUG=1
SECRET_KEY=change-me
SQLALCHEMY_DATABASE_URI=sqlite:///ne_fresh.db
SECURE_COOKIES=1
PAYMENT_SANDBOX=1
RATE_LIMIT_DEFAULT=200/hour
DELIVERY_ENABLED=0
SUPPORT_EMAIL=ites@sdsindia.in
PINCODE_ALLOWED=796009
